/* Стандартна темна тема (Dark Mode) */
:root {
  --hero-title-main: #333333;
  --hero-btn: #BFDCFF;



  --color-primary: #BFDCFF;
  --color-primary-hover: #A9CDFA;
  --color-primary-rgb: 191, 220, 255;
  --color-error: #FF4D4F;
  --shadow:  rgba(0, 0, 0, 0.6);
  --bg-main: #0D0D0D;
  --bg-footer: linear-gradient(to right, rgb(45, 45, 45), rgb(14, 14, 12));
  --bg-hero: linear-gradient(315deg, #0e0e0c 0%, #2d2d2d 33%, #0e0e0c 66%, #2d2d2d 100%);
  --surface-1: #1A1A1A;
  --surface-2: #222222;
  --surface-3: #2D2D2D;

  --border-main: #333333;
  --border-light: #444444;
  --border-hover: #555555;

  --text-white: #FFFFFF;
  --text-main: #EAEFF5;
  --text-secondary: #CCCCCC;
  --text-accent: #A0AAB5;
  --text-muted: #888888;
}

/* Світла тема (Light Mode) */
body.light-mode {
    --hero-title-main: #95A5B8;
    --hero-btn: #C5D5E7;
  --color-primary: #BFDCFF;
  --color-primary-hover: #A9CDFA;
  --color-primary-rgb: 191, 220, 255;
  --color-error: #FF4D4F;
  --shadow:   rgb(190, 206, 224);
  --bg-main: #EAEFF5;
  --bg-footer: linear-gradient(to bottom, rgb(190, 206, 224), rgb(234, 239, 245));
  --bg-hero: linear-gradient(315deg, #A7B6C8 0%, #EAEFF5 33%, #CDDCEF 66%, #EAEFF5 100%);
  --surface-1: #1A1A1A;
  --surface-2: #222222;
  --surface-3: #2D2D2D;

  --border-main: #95A5B8;
  --border-light: #444444;
  --border-hover: #555555;

  --text-white: #333333;
  --text-main: #333333;
  --text-secondary: #CCCCCC;
  --text-accent: #A0AAB5;
  --text-muted: #888888;
}